incomplete initials

For instance, in https://bib.ietf.org/public/rfc/bibxml/reference.RFC.2119.xml : 

~~~
<author fullname="S. Bradner" initials="S" surname="Bradner"/>
~~~

But RFC 7991, Section 2.7.5 states:

> Some processors will post-process the value -- for instance, when it only contains a single letter (in which case they might add a trailing dot). Relying on this kind of post-processing can lead to results varying across formatters and thus ought to be avoided.

So the "initials" attribute should contain "S.".

The new repository location for the bibxml-service is at https://github.com/ietf-tools/bibxml-service -- would you mind copying the ticket there? Thanks!

Now https://github.com/ietf-tools/bibxml-service/issues/264